<div class="eaten">     
    <ul>
    {{#each burgers}}
        {{#unless devoured}}
        <li class="burgers">
            <p id="{{id}}">{{burger_name}} Eaten: {{devoured}}
                <button id="{{id}}" class="btn devourBtn">Devour</button>
            </p>
        </li>
        {{/unless}}
    {{/each}}
    </ul>   

    <ul>
    {{#each burgers}}
        {{#if devoured}}
        <div>
            <li>
                <p>{{burger_name}}
                    <button id="{{id}}" class="btn dltBtn">Delete</button>
                </p>
            </li>
        </div>
        {{/if}}
    {{/each}}
    </ul> 
</div>

<div id="addBurger">
    <h3>Add a Burger</h3>
    <form>
        <textarea name="burgerName" type="text" id="burgerText" placeholder="Enter Burger Here"></textarea><br>
        <button type="submit" class="btn" id="newBurgerBtn">Add Burger</button>
    </form>
</div>
